.link-class {
  display: block; /* Zapewni, że element zajmie całą szerokość, jeśli chcesz */
  height:70px;
  margin: 0 auto; /* Opcjonalne: centruj element */
  text-align: center; /* Opcjonalne: centruj zawartość w poziomie */
}

header.brand-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px;
  text-align: left;
  margin-left: 10;
  width: 100%;
  box-sizing: border-box;
}

.brand-logo {
  margin-right: 10px;
  max-height: 50px;
  object-fit: contain;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block; /* Usuń flex, jeśli był */
}
