.language-selector {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.language-selector button {
  background-color: transparent;
  border: 1px solid #605DC8;
  color: #605DC8;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.language-selector button:hover {
  background-color: #007BFF;
  color: white;
}

.language-selector button:focus,
.language-selector button.active {
  background-color: #0056b3;
  color: white;
  border-color: #004085;
}

.link-class {
  display: block;
  height: 70px;
  text-align: center;
}

section.content {
  margin-top: 0px;
}

header.brand-name {
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  text-align: left;
  margin-left: 10px;
  width: 100%;
  box-sizing: border-box;
}

.brand-logo {
  margin-right: 10px;
  max-height: 50px;
  object-fit: contain;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.menu {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.menu-item {
  text-decoration: none;
  color: #605DC8;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #007BFF;
}

.menu-item.active {
  background-color: #e3e3ee;
  color: #605DC8;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

/* Stylowanie przycisku hamburgera */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Stylowanie menu mobilnego */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
  }

  .menu.open {
    display: flex;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none !important;
  }

  .menu {
    display: flex !important;
  }
}

/* Stylowanie menu mobilnego */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
  }

  .menu.open {
    display: flex;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .brand-logo {
    display: none !important;
  }
}